.cardContainer {
  width: 1260px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 26px;
}

.centerCards {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 400px;
  width: 400px;
  border-radius: 3px;
  padding-bottom: 30px;
}

.talkie {
  margin-top: 26px;
  align-self: center;
  margin-bottom: -15px;
}

.rabbit {
  margin-top: 55px;
  align-self: center;
}

.shield {
  margin-top: 37px;
  align-self: center;
  margin-bottom: -15px;
}

.cardTitle {
  width: fit-content;
  color: #222222;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  margin-left: 60px;
  margin-bottom: -5px;
}

.cardText {
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #858585;
  margin-left: 60px;
  margin-bottom: 25px;
  width: 289px;
  text-align: justify;
}

.button {
  text-decoration: none;
  width: 130px;
  height: 45px;
  align-self: center;
  background-color: #DEBF79;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #ffffff;
}

.jsPuzzle {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
}

.headingOne {
  height: 72px;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #ffffff;
}

.accentLine {
  width: 211px;
  border: 2.1px solid #DEBF79;
  background-color: #DEBF79;
}

.puzzleContainer {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
  width: 1248px;

}

.puzzleText {
  display: inline-block;
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;

}

.puzzleLink {  
  display: inline-block;
  color:#DEBF79;
  width: fit-content;
  margin: 0px;
  cursor: pointer;
}

.puzzleLink:hover {
  color: #f5f5f5;
}


/* -----FOR VIEWPORTS UNDER 1280px WIDE----- */

@media (max-width: 1280px) {
  .cardContainer {
    width: 400px;
    grid-template-columns: 400px;
    gap: 8px;
    margin-top: 31px;
  }

  .jsPuzzle {
    margin-top: 31px;
    padding-left: 32px;
    width: 352px;
  }

  .puzzleText {
    text-align: justify;
    margin-top: 5px;
    width: 352px;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
  }
}